@import url(https://fonts.googleapis.com/css?family=Raleway);
body{
    font-family: helvetica, arial, sans-serif;
	font-size:1em;
}
h1, h2{
    font-family: 'Raleway', sans-serif;
    color: #397380;
}
.container{
    border:10px solid #3b9db3;
    width: 100%;
    margin:auto;
    max-width: 1200px;
    min-width: 600px;
    padding:5px 10px;
}
header{
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
}
header h1 a{
    color: #6ccbe0;
    text-decoration: none;
}
header h1 a:hover{
    text-decoration: underline;
    color:#397380;
}
#logo{
    padding: 10px;
}
nav li a{
    text-decoration: none;
    color: #6ccbe0;  
}
nav li a:hover{
    color: #397380;
}
nav ul li{
    display:inline;
}
nav li:first-child{
    border-left: none;
}
main{
    display: flex;
    gap: 15px;
}
.resize-img{
    width: 100%;
    height:100%;
}
section{
    padding: 0 10px 10px 0;
    flex: 1 1 auto;
}
.sidebar{
    padding: 20px 40px;
    border: 1px solid #6ccbe0;
    border-radius: 8px;
    margin-top: 70px;
    flex: 0 0 200px;
}
footer{
    border-top: 1px solid #14b5d9;
    margin: 20px 10px 0;
    font-size: 0.8em;
    text-align:center;
    font-style:italic;
}
table{
    width: 100%;
    max-width: 600px;
    min-width: 300px;
}
th, td{
    padding: 10px 4px;
    text-align: left;
}
th{
    text-transform: uppercase;
    border-bottom: 4px solid #000;
    background-color: #fff;
}
tr:nth-child(odd){
    background-color: #d5e9ed;
}
dt{
    font-weight: bold;
    border-top: 1px dashed #d5e9ed;
    padding: 20px 0;
}
dt:first-child{
    border-top:none;
}
dd{
    padding: 00 20px 0;
}
.left-float{
    float:left;
    padding: 0 15px 15px 0;
}
.right-float{
    float:right;
    padding: 15px 0 0 15px;
}